<form #itemForm="ngForm" (ngSubmit)="onSubmit(itemForm)">
    <div class="field is-horizontal">
        <div class="field-body">
            
            <div class="field is-narrow">
                <p class="control">
                    <input type="number" name="amount" style="width: 100px;" class="input" 
                    placeholder="Amount" [ngModel]="item.amount" required>
                </p>
            </div>
            
            <div class="field">
                <p class="control">
                    <input type="text" name="description" class="input" required
                    placeholder="Description" [ngModel]="item.description">
                </p>
            </div>

            <div class="field is-narrow">
                <button type="submit" [ngClass]="{ 'is-primary': isNewItem, 'is-success': !isNewItem }" 
                [disabled]="!itemForm.valid" class="button"> 
                <p style="margin-top: 12px" *ngIf="isNewItem">Add</p>
                <p style="margin-top: 12px" *ngIf="!isNewItem">Save</p>
            </button>
            </div>

        </div>
    </div>
</form>
